#game {
  width: 600px;
}

#controls {
  width: 400px;
  height: 40px;
  float: left;
  clear: both;
  margin-bottom: 5px;
  text-align: center;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  color: #fff;
  font-weight: bold;
}

button.forward {
  background-color: darkgreen;
}

button.back {
  background-color: darkred;
}

#board {
  width: 400px;
  float: left;
}

#sideboard {
  width: 160px;
  float: left;
  position: relative;
}

#blackplayer, #whiteplayer {
  width: 100%;
}

#blackplayer, #whiteplayer {
  height: 60px;
  text-align: center;
}

#whiteplayer {
  position: absolute;
  top: 336px;
}

.name {
  font-size: 14px;
  height: 20px;
}

.time {
  border: 1px solid #000;
  font-size: 32px;
  height: 38px;
}

#notation {
  max-height: 276px;
  overflow-y: scroll;
}

#notation table {
  border-collapse: collapse;
  margin: 5px 0;
}

tr {
  width: 158px;
  height: 20px;
  border: 1px solid #585858;
  background-color:#e6e6e6;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  text-align: center;
  font-size: 18px;
}

td.number {
  width: 20px;
  border-right: 1px solid #a4a4a4;
}

td.move {
  width: 70px;
}
